django-cors-headers==3.13.0
coreapi==2.3.3
coreschema==0.0.4
Django==4.1.4
django-filter==22.1
django-phonenumber-field==7.0.1
django-phonenumbers==1.0.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.4
phonenumbers==8.13.2
Pillow==9.3.0
PyJWT==2.6.0
